[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-maximizer"]
	path = vim/bundle/vim-maximizer
	url = https://github.com/szw/vim-maximizer.git
[submodule "vim/bundle/scratch"]
	path = vim/bundle/scratch
	url = https://github.com/mtth/scratch.vim.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/bundle/vim-plist"]
	path = vim/bundle/vim-plist
	url = git://github.com/darfink/vim-plist.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/bundle/vim-gutentags"]
	path = vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
